// https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
// https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

$RECYCLE.BIN/
$tf/
(?d)(?i).DS_Store
(?d)(?i)desktop.ini
(?d)*.dmp
(?d)*.dump
(?d)Thumbs.db
(?d)Thumbs.db:encryptable
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/Packages/*
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bak
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.Cache
*.cache
*.cachefile
*.code-workspace
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.dsp
*.dsw
*.e2e
*.err
*.GhostDoc.xml
*.gpState
*.ilk
*.iobj
*.ipdb
*.iws
*.jfm
*.jmconfig
*.ldf
*.lnk
*.log
*.mdf
*.meta
*.mm.*
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.Publish.xml
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.ReSharper
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.snupkg
*.stackdump
*.suo
*.svclog
*.swap
*.swp
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.vbp
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsix
*.vsp
*.vspscc
*.vspx
*.vssscc
*.wrn
*.xccheckout
*.xcscmblueprint
*.xsd.cs
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
.*crunch*.local.xml
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.axoCover/*
.builds
.com.apple.timemachine.donotpresent
.cr/personal
.DocumentRevisions-V100
.DS_Store
.fake/
.fseventsd
.history/
.idea
.idea/**/mongoSettings.xml
.idea_modules/
.ionide/
.localhistory/
.LSOverride
.mfractor/
.netrwhist
.ntvs_analysis.dat
.paket/paket.exe
.sass-cache/
.Spotlight-V100
.stver
.stversions
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.vs/
.vscode/*
.vshistory/
__pycache__/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
AppPackages/
arm]/
arm]64/
artifacts/
ASALocalRun/
atlassian-ide-plugin.xml
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bh_unicode_properties.cache
bin/
bld/
BuildLog.*
BundleArtifacts/
ClientBin/
cmake-build-*/
coverage*.info
coverage*.json
coverage*.xml
csx/
debug/
DebugPS/
debugpublic/
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
ehthumbs.db
ehthumbs_vista.db
Express/
FakesAssemblies/
FodyWeavers.xsd
.NetCoreApp*
Folder.DotSettings.user
Generated_Code/
GitHub.sublime-settings
healthchecksdb
ipch/
log/
logs/
MigrationBackup/
mono_crash.*
nCrunchTemp_*
Network Trash Folder
node_modules/
*.csproj*
nunit-*.xml
obj/
OpenCover/
orleans.codegen.cs
oscrypto-ca-bundle.crt
out/
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Package.StoreAssociation.xml
paket-files/
project.fragment.lock.json
project.lock.json
publish/
PublishScripts/
rcf/
release/
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

ReleasePS/
releases/
ScaffoldingReadMe.txt
ServiceFabricBackup/
Session.vim
Sessionx.vim
StyleCopReport.xml
tags
Temporary Items
TestResult*/
TestResult.xml
UpgradeLog*.htm
UpgradeLog*.XML
win32/
x64/
x86/
xcuserdata/
~$*